@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --cor-primaria: #F5F5F5;
    --cor-secundaria: #F2EAD3;
    --cor-terciaria: #DFD7BF;
    --cor-quadrupla: #3F2305;
    --cor-cinco: #A9907E;
}

body{
    background-color: var(--cor-primaria);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 30px 8%;
}

.logo{
    font-size: 2.5rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-family: 'Caprasimo', cursive;
    color: var(--cor-quadrupla);
    
}

.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.navbar a{
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Caprasimo', cursive;
    font-weight: 200;
    color: var(--cor-cinco);
    transition: .5s;


}

.navbar a:hover{
    color: var(--cor-quadrupla);
    border-bottom: 3px solid var(--cor-quadrupla);
}

.social__media{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.social__media a{
    color: var(--cor-cinco);
    font-size: 30px;
    margin-right: 15px;
    transition: .5s;
}

.social__media a:hover{
    color: var(--cor-quadrupla);

}

